[user]
	email = guidomodarelli25@gmail.com
	name = guidomodarelli25
	signingkey = /home/guido/.ssh/id_rsa.pub

[core]
	pager = delta
	autocrlf = input

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	max-line-length = 0

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = $HOME/.config/git/allowed_signers
